.window_boundingBox {
    position: fixed;
    border: 1px solid #000;
    width: 500px;
    height: 300px;
    left: 50%;
    margin-left: -250px;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.5);
}

#a {
    height: 30px;
    width: 50px;
}

.window_boundingBox input {
    position: absolute;
    top: 5px;
    right: 5px;
    height: 20px;
    width: 20px;
}